

@font-face {
	font-family: Text;
	src: url('/font/Lucida Sans.ttf') format('truetype');
}
@font-face {
	font-family: Title;
	src: url('/font/SF Movie Poster Condensed.ttf') format('truetype');
}
@font-face {
	font-family: Header;
	src: url('/font/SF Movie Poster Bold.eot') format('embedded-opentype'),
             url('/font/SF Movie Poster Bold.ttf') format('truetype');
}
body, label{
    font-family: Text;
    font-size: small;
    
    text-align: left;
    font-weight: normal;
    
    
}
#header, .logo-font{
    font-family: Header;
    /*font-size: 3em;*/
    font-size: 39px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 3px;
    
}
.item{
    font-family: Header;
  /*  font-size: 0.5em;*/
  font-size: 19.5px;
    color: white;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    
}
.activeItem{
    font-family: Header;
    font-size: 0.5em;
    color: #FF9933;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
    
}
#intro{
    font-family: Text;
    
    
    text-align: center;
    font-weight: normal;
    
    line-height: 30px;
}
.play-slides a, .play-slides a:focus, .play-slides a:visited{
    font-family: Text;
    font-size: 13px;
    font-weight:400;
    color: rgb(189, 37, 0);
}
.play-slides a:hover{
    text-decoration-color: rgb(189, 37, 0);
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
    color: rgb(189, 37, 0) !important;
}
.paginator{
    font-family: Text;
    font-size: 13px;
    font-weight:400;
    color: rgb(119, 119, 119) !important;
}

#describe, .contact-us-description{
    font-family: Text;
    font-size: 13px;
    color: #35332e;
    text-align: center;
    font-weight:400;
    letter-spacing: 1px;
    line-height: 17px;
}
.contact-us-description{
    
    text-align: justify;
    
}
.header h1{
    text-align: left;
}
.review-item-name{
    font-size: 14px;
}
.review-item-text{
    color: hsl(43, 7%, 30%);
    
}
.review-item-date{
    color: hsl(43, 7%, 35%);
}

h1, .tablinks_header{
    font-family: Title !important;
    font-size: 32px !important;
    color: #c72b00;
    text-align: center;
    font-weight: 400;
    
    
}
h2, .submenu{
    font-family: Title;
    font-size: x-large;
   
    text-align: left;
    font-weight: normal;
    
    
}
a{
    
    
    color: #bd2500;
    text-align: left;
    
    
    
}
#footer{
    font-family: Title;
    font-size: 20px;
    color: #f9ecba;
    text-align: left;
    font-weight: normal;
    letter-spacing: 3px;
    
}



.footer a, .footer a:hover, .footer a:visited, .footer a:focus{
    

    font-family: Title;
font-size: 20px;
color: #f9ecba !important;
text-align: left;
font-weight: 400;
letter-spacing: 3px;
text-decoration: none;
}

.contact-us a, .contact-us a:focus, .contact-us a:visited{
    color: rgb(145, 29, 0) !important;
    cursor: pointer;
}
    