.settings-component{

    .settingsContent{
        background-color: white;
        padding: 20px 10px;
        overflow-y: auto;
    }

    form{
        display: flex;
        flex-wrap: wrap;

        label{
            display: initial;
        }
    }

    ul{
        list-style: none;
    }

    .dragula-list-container-33{display:grid;grid-template-columns:8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5%}
    .dragula-list-container-40{display:grid;grid-template-columns:10% 10% 10% 10% 10% 10% 10% 10% 10% 10%}
    .dragula-list-container-50{display:grid;grid-template-columns:12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%}
    .dragula-list-container-67{display:grid;grid-template-columns:16.6666% 16.6666% 16.6666% 16.6666% 16.6666% 16.6666%}
    .dragula-list-container-80{display:grid;grid-template-columns:20% 20% 20% 20% 20%}
    .dragula-list-container-100{display:grid;grid-template-columns:25% 25% 25% 25%}
    .dragula-list-container-133{display:grid;grid-template-columns:33.3333% 33.3333% 33.3333%}
    .dragula-list-container-200{display:grid;grid-template-columns:50% 50%}
    .dragula-list-container-400{display:grid;grid-template-columns:100%}
    .dragula-list-item{margin:5px;-ms-flex-item-align:center;align-self:center}

}